@tailwind base;

  @font-face {
      font-family: "roboto_bold";
      src: url("RobotoSlab-Bold-webfont.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

@font-face {
  font-family: "nunito_black";
  src: url("NunitoSans-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_black_italic";
  src: url("NunitoSans-BlackItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_bold";
  src: url("NunitoSans-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_bold_italic";
  src: url("NunitoSans-BoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_extrabold";
  src: url("NunitoSans-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_extrabold_italic";
  src: url("NunitoSans-ExtraBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_extralight";
  src: url("NunitoSans-ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_extralight_italic";
  src: url("NunitoSans-ExtraLightItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_italic";
  src: url("NunitoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_light";
  src: url("NunitoSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_light_italic";
  src: url("NunitoSans-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "nunito_regular";
  src: url("NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_semibold";
  src: url("NunitoSans-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nunito_semibold_italic";
  src: url("NunitoSans-SemiBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@tailwind components;

.note-credit {
    @apply w-full text-xs text-black font-nunito_light text-right pt-1;
}

@tailwind utilities;
